mat-toolbar {
  position: relative;

  .title, .search {
    display: block;
    width: 50%;
  }

  .title {
    width: 50%;
    float: left;
  }

  .search {
    font-size: 70%;
    float: right;
    display: block;
  }

  @media (max-width: 599px) {
    .title {
      font-size: 14px;
    }
  }

  mat-icon {
    &.selected {
      color: #ff006e;
    }
  }
}
