<mat-list-item *ngIf="!isReduced || isSelected()" class="my-item">
  <img class="avatar" matListAvatar [ngClass]="{'reduced': isReduced}" src="{{item.image}}" />
  <img class="header" matLine [ngClass]="{'reduced': isReduced}" src="{{item.image}}" />

  <div matLine class="title">
    <h1>
      <b>{{item.title}}</b>
    </h1>
    <div class="button">
      <button (click)="toggle()" mat-button>
        <mat-icon [ngClass]="{'selected': isSelected()}">
          {{isReduced ? 'clear' : 'favorite'}}
        </mat-icon>
      </button>
    </div>
  </div>
  

  <div matLine *ngIf="!isReduced">
    <div matLine>{{item.description}}</div>
    <br matLine />
    <p matLine>{{item.price}} &euro;</p>
    <p matLine><b>{{item.email}}</b></p>
    <mat-divider></mat-divider>
  </div>

</mat-list-item>



